.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uniconButon {
  transition: all 0.4s !important;
}

.iconButon {
  transition: all 0.4s !important;
}

.iconButon:hover {
  background-color: rgb(204, 195, 195) !important;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}

.task {
  transition: all 0.4s !important;
}

.task:hover {
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}

@font-face {
  font-family: morga;
  src: url("/public/Fonts/Mogra-Regular.ttf")
}

@font-face {
  font-family: bjcree;
  src: url("/public/Fonts/BJ_Cree/BJCree-Medium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: bjcree;
  src: url("/public/Fonts/BJ_Cree/BJCree-Regular.ttf");
  font-weight: 200;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}